<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <h1 style="text-align: center; color: white">View Member</h1>
      <div class="col-12">
        <!---->
        <table class="table table-responsive table-striped">
          <caption>List of members</caption>
          <thead>
          <tr>
            <th>Member Id</th>
            <th>Member Name</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Address</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of members">
            <td>{{member.userId}}</td>
            <td>{{member.name}}</td>
            <td>{{member.email}}</td>
            <td>{{member.phoneNo}}</td>
            <td>{{member.address}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
