<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <h1 style="text-align: center; color: white">View Member</h1>
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="container mt-5 px-2">
            <div class="mb-2 d-flex justify-content-between align-items-center">
              <div class="position-relative">
                <span class="position-absolute search"
                  ><i class="fa fa-search"></i
                ></span>
                <input
                  class="form-control w-100"
                  placeholder="Search by order#, name..."
                  style="background-color: rgba(161, 196, 253, 1); color: white"
                />
              </div>

              <div class="px-2">
                <span>Filters <i class="fa fa-angle-down"></i></span>
                <i class="fa fa-ellipsis-h ms-3"></i>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-responsive table-borderless">
                <thead>
                  <tr class="bg-light">
                    <!-- <th scope="col" width="5%">
                      <input class="form-check-input" type="checkbox" />
                    </th> -->
                    <th scope="col" width="5%">MemberId</th>
                    <th scope="col" width="8%">Date</th>
                    <th scope="col" width="8%">Status</th>
                    <th scope="col" width="9%">Member</th>
                    <th scope="col" width="13%">Email</th>
                    <th scope="col" class="" width="10%">
                      <span>Phone No.</span>
                    </th>
                    <th scope="col" width="15%">Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <th scope="row">
                      <input class="form-check-input" type="checkbox" />
                    </th> -->
                    <td style="text-align: center">12</td>
                    <td>1 Oct, 21</td>
                    <td>
                      <i class="fa fa-check-circle-o green"></i
                      ><span class="ms-1" style="text-align: center"
                        >Awaiting</span
                      >
                    </td>
                    <td>
                      <img src="https://i.imgur.com/VKOeFyS.png" width="25" />
                      Althan Travis
                    </td>
                    <td>Wirecard for figma</td>
                    <td>9876543210</td>
                    <td>12, 98 Modi Corp Tower, Delhi</td>
                  </tr>

                  <tr>
                    <!-- <th scope="row">
                      <input class="form-check-input" type="checkbox" />
                    </th> -->
                    <td style="text-align: center">14</td>
                    <td>12 Oct, 21</td>
                    <td>
                      <i class="fa fa-dot-circle-o text-danger"></i
                      ><span class="ms-1" style="text-align: center"
                        >Awaiting</span
                      >
                    </td>
                    <td>
                      <img src="https://i.imgur.com/nmnmfGv.png" width="25" />
                      Tomo arvis
                    </td>
                    <td>Altroz furry</td>
                    <td>8765432109</td>
                    <td>12, 98 Modi Corp Tower, Delhi</td>
                  </tr>

                  <tr>
                    <!-- <th scope="row">
                      <input class="form-check-input" type="checkbox" />
                    </th> -->
                    <td style="text-align: center">17</td>
                    <td>1 Nov, 21</td>
                    <td>
                      <i class="fa fa-check-circle-o green"></i
                      ><span class="ms-1" style="text-align: center"
                        >Awaiting</span
                      >
                    </td>
                    <td>
                      <img src="https://i.imgur.com/VKOeFyS.png" width="25" />
                      Althan Travis
                    </td>
                    <td>Apple Macbook air</td>
                    <td>7654321098</td>
                    <td>12, 98 Modi Corp Tower, Delhi</td>
                  </tr>

                  <tr>
                    <!-- <th scope="row">
                      <input class="form-check-input" type="checkbox" />
                    </th> -->
                    <td style="text-align: center">90</td>
                    <td>19 Oct, 21</td>
                    <td>
                      <i class="fa fa-check-circle-o green"></i
                      ><span class="ms-1" style="text-align: center"
                        >Awaiting</span
                      >
                    </td>
                    <td>
                      <img src="https://i.imgur.com/VKOeFyS.png" width="25" />
                      Travis head
                    </td>
                    <td>Apple Macbook Pro</td>
                    <td>6543210987</td>
                    <td>12, 98 Modi Corp Tower, Delhi</td>
                  </tr>

                  <tr>
                    <!-- <th scope="row">
                      <input class="form-check-input" type="checkbox" />
                    </th> -->
                    <td style="text-align: center">12</td>
                    <td>1 Oct, 21</td>
                    <td>
                      <i class="fa fa-check-circle-o green"></i
                      ><span class="ms-1" style="text-align: center"
                        >Awaiting</span
                      >
                    </td>
                    <td>
                      <img src="https://i.imgur.com/nmnmfGv.png" width="25" />
                      Althan Travis
                    </td>
                    <td>Wirecard for figma</td>
                    <td>5432109876</td>
                    <td>12, 98 Modi Corp Tower, Delhi</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
