.back {
 background-image: linear-gradient(to bottom right, #d5ecf1, #e7e9f5);
 background-size: cover;
 height: 160vh;
 border-radius: 20px;
}

.container {
 /*border: 2px solid rgb(149 146 146);*/
 margin-top: 50px;
 padding: 30px 80px;
 border-radius: 20px;
}

h2 {
 text-align: center;
 margin: 10px 0 40px 0;
}