<div class="back">
  <div class="container">
    <div class="heading">
      <h2 class="heading--highlight highlight">Claim status  </h2>
      <img
                  src="../../assets/img/Dental-Health-PNG-Image-Transparent-Background.png"
                  class="img-fluid"
                  alt="Sample image" style="height: 60px; width: 200px;"
                />
    </div>
    <table class="table align-middle mb-0 bg-white" >
      <thead class="" style="background-color: rgb(5, 34, 42); color: aliceblue;">
        <tr>
          <th>Claim Id</th>
          <th>Description</th>
          <th>Raised Date</th>
          <th>Settled Date</th>
          <th>Claim amount</th>
          <th>Status</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let claim of claims">
        <td>{{claim.claimId}}</td>
        <td>{{claim.description}}</td>
        <td>{{claim.claimRaisedDate}}</td>
        <td>{{claim.claimSettledDate}}</td>
        <td>{{claim.claimAmount}}</td>
        <td>{{claim.claimStatus}}</td>
        <td>{{claim.remarks}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>