<section class="vh-200" style="background-color: #eee; border-radius: 35px; margin-top: 50px; " >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
        <div class="alert alert-success" role="alert" *ngIf="error!=null && !error">
          Successfully Updated Member
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error!=null && error">
          Something Went Member
        </div>
          <div class="card-body p-0">

            <ng-container [formGroup]="form">
            <div class="row g-0">
              <div class="col-lg-6">
                <ng-container formGroupName="form1">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #3584d4">
                    Update Member
                  </h3>

                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev4"
                        >Name</label
                      >
                      <input
                        type="text"
                        id="form3Examplev4"
                        class="form-control form-control-lg"
                        name="name"
                        formControlName="name"
                      />
                    </div>
                  </div>
                  <span
                    *ngIf="f1.name.touched && f1.name.invalid"
                    style="color: red"
                  >
                    <span *ngIf="f1.name.errors?.required">
                      Name is required.
                    </span>
                  </span>

                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev4"
                        >Email</label
                      >
                      <input
                        type="email"
                        id="form3Examplev4"
                        class="form-control form-control-lg"
                        name="email"
                        formControlName="email"
                      />
                    </div>
                  </div>
                  <span
                    *ngIf="f1.email.touched && f1.email.invalid"
                    style="color: red"
                  >
                    <span *ngIf="f1.email.errors?.required">
                      Email is required.
                    </span>
                  </span>
                  

                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev4"
                        >Password</label
                      >
                      <input
                        type="password"
                        id="form3Examplev4"
                        class="form-control form-control-lg"
                        name="password"
                        formControlName="password"
                      />
                    </div>
                  </div>
                </div>
              </ng-container>
              </div>
              <div class="col-lg-6 bg-indigo text-white" style="background-color:#3584d4 ;">
                <ng-container formGroupName="form2">
                <div class="p-5">
                  <div class="mb-4 pb-2">
                    <div class="form-outline" >
                      <label class="form-label" for="form3Examplev4"
                        >Confirm Password</label
                      >
                      <input
                        type="password"
                        id="form3Examplev4"
                        class="form-control form-control-lg"
                        name="confirmPassword"
                        formControlName="confirmPassword"
                      />
                    </div>
                  </div>
                  <span
                    *ngIf="passwordError"
                    style="color: red"
                  >
                    <span *ngIf="passwordError">
                      Password and Confirm Password must be match.
                    </span>
                  </span>
                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <label class="form-label" for="form3Examplea3"
                        >Address</label
                      >
                      <input
                        type="text"
                        id="form3Examplea3"
                        class="form-control form-control-lg"
                        name="address"
                        formControlName="address"
                      />
                    </div>
                  </div>
                  <span
                    *ngIf="f2.address.touched && f2.address.invalid"
                    style="color: red"
                  >
                    <span *ngIf="f2.address.errors?.required">
                      Address is required.
                    </span>
                  </span>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <label class="form-label" for="form3Examplea6"
                        >Mobile No</label
                      >
                      <input
                        type="text"
                        id="form3Examplea6"
                        class="form-control form-control-lg"
                        name="mobileNo"
                        formControlName="mobileNo"
                      />
                      
                    </div>
                  </div>
                  <span
                  *ngIf="f2.mobileNo.touched && f2.mobileNo.invalid"
                  style="color: red"
                >
                  <span *ngIf="f2.mobileNo.errors?.required">
                    Address is required.
                  </span>
                </span>

                  <button
                    type="button"
                    class="btn btn-lg"
                    data-mdb-ripple-color="dark"
                    style="color: #2828bc; background-color: rgb(255, 255, 255);"
                    [disabled]="!form.valid && passwordError"
                    (click)="onSubmit()"
                  >
                    <b>Update</b> 
                  </button>
                  
                </div>
                </ng-container>
              </div>
            </div>
            </ng-container>
            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>