h2 {
 text-align: center;
 margin: 10px 0 40px 0;
}

.back {
 background-image: linear-gradient(to bottom right, #d5ecf1, #e7e9f5);
 background-size: cover;
 height: 110vh;
 border-radius: 20px;
 display: flex;
}

.container {
 /* border: 2px solid rgb(149 146 146); */
 margin-top: 50px;
 padding: 30px 80px;
 border-radius: 20px;
}
.form-group{
  width: 440px;
}
.row {
 height: 16vh;
 
}

.row__content {
 margin-bottom: 30px;
 width: 20%;
}

input.ng-invalid.ng-touched {
 border: 2px solid red;
}

.spinner {
 text-align: center;
}

.btn {
 background-color: rgb(117, 107, 198);
 border:none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 border-radius: 50px;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
}

.btn[disabled] {
 cursor: not-allowed;
}

small{
  color: red;
}

#submit-btn{
  background-color: rgb(0, 90, 128);
  margin-left: 35% !important;
  margin-top: 40px;
  margin-bottom: 100px;
}

#reset-btn{
  background-color: rgb(0, 90, 128);
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 100px;
}
