<div class="back">
  <div class="container">
    <form>
      <div class="heading">
        <h2 class="heading--highlight highlight">Submit Claim</h2>
      </div>
      <div class="from-group row">
        <div class="col-xs-6 col-md-6 row__content">
          <label for="policyID">Policy Id</label>
          <input
            type="number"
            class="form-control"
            name="policyId"
            placeholder="Enter policy id"
            ngModel
            required
            [(ngModel)]="request.policyId"
          />
        </div>

        <div class="col-xs-6 col-md-6 row__content">
          <label for="policyName">Policy Name</label>
          <input
            type="text"
            class="form-control"
            name="policyName"
            placeholder="Enter policy name"
            ngModel
            required
            [(ngModel)]="request.policyName"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-6 col-md-6 row__content">
          <label for="policyProvider">Policy Provider</label>
          <input
            type="text"
            class="form-control"
            name="policyProvider"
            placeholder="Enter policy name"
            ngModel
            required
            [(ngModel)]="request.policyProvider"
          />
        </div>

        <div class="col-xs-6 col-md-6 row__content">
          <label for="policyStartDate">Policy start date</label>
          <input
            type="date"
            class="form-control"
            name="policyStartDate"
            ngModel
            required
            [(ngModel)]="request.policyStartDate"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-6 col-md-6 row__content">
          <label for="policyEndDate">Policy end date</label>
          <input
            type="date"
            class="form-control"
            name="policyEndDate"
            ngModel
            required
            [(ngModel)]="request.policyEndDate"
          />
        </div>
        <div class="col-xs-6 col-md-6 row__content">
          <label for="description">Policy Description</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter description"
            name="description"
            ngModel
            required
            [(ngModel)]="request.policyDescription"
          />
        </div>
        <div class="col-xs-6 col-md-6 row__content">
          <label for="claimDescription">Claim Description</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter claim description"
            name="claimDescription"
            ngModel
            required
            [(ngModel)]="request.claimDescription"
          />
        </div>
      </div><br>
      <div>
        <div class="form-group row">
          <div class="col-xs-6 col-md-6 row__content">
            <label for="claimAmount">Claimed Amount</label>
            <input
              type="number"
              class="form-control"
              placeholder="Enter claimed amount"
              name="claimAmount"
              ngModel
              required
              [(ngModel)]="request.claimAmount"
            />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
          <button class="btn" (click)="addToDatabase()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
