<section class="h-100 h-custom gradient-custom-2">
  <div class="container-fluid py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-20">
      <h1 style="text-align: center; color: white">View Claims</h1>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-responsive table-striped">
            <thead class="thead-dark">
            <th scope="col">Claim id</th>
            <th scope="col">Claim description</th>
            <th scope="col">Claim raised date</th>
            <th scope="col">Claim Amount</th>
            <th scope="col">Policy id</th>
            <th scope="col">Policy Name</th>
            <th scope="col">Policy provider</th>
            <th scope="col">Policy Start date</th>
            <th scope="col">Policy end date</th>
            <th scope="col">Policy Description</th>
            <th scope="col">Process</th>
            </thead>
            <tbody>
            <tr *ngFor="let claim of claims">
              <td>{{claim.claimId}}</td>
              <td>{{claim.description}}</td>
              <td>{{claim.claimRaisedDate}}</td>
              <td>{{claim.claimAmount}}</td>
              <td>{{claim.policy.policyId}}</td>
              <td>{{claim.policy.policyName}}</td>
              <td>{{claim.policy.policyProvider}}</td>
              <td>{{claim.policy.policyStartDate}}</td>
              <td>{{claim.policy.policyEndDate}}</td>
              <td>{{claim.policy.description}}</td>
              <td>
                <button class="btn btn-primary" (click)="processClaim(claim.claimId)">Update</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
