<section class="vh-110" style="background-color: #a9d8e8">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9 mb-4">
        <h1 class="text-white mb-4" style="text-align: center">
          Claim Process
        </h1>

        <div class="card" style="border-radius: 15px">
          <div class="card-body">
            <div class="row align-items-center pt-4 pb-1">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Member ID</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" class="form-control form-control-lg" />
              </div>
            </div>

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Full name</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" class="form-control form-control-lg" />
              </div>
            </div>

            <hr class="mx-n3" />

            <div class="row align-items-center py-2">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Insurance Type</h6>
              </div>
              <div class="col-md-9 pe-5">
                <select class="select">
                  <option value="1">Type</option>
                  <option value="2">Classic</option>
                  <option value="3">Standard</option>
                  <option value="4">Premium</option>
                </select>
              </div>
            </div>

            <div class="row align-items-center pt-4 pb-1">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Insurance Amount</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="number" class="form-control form-control-lg" />
              </div>
            </div>

            <hr class="mx-n3" />

            <div class="row align-items-center py-2">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Request Date</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="date" class="form-control form-control-lg" />
              </div>
            </div>

            <hr class="mx-n3" />

            <div class="row align-items-center py-1">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0"></h6>
              </div>
              <div class="col-md-9 pe-5">
                <input
                  class="form-control form-control-lg"
                  id="formFileLg"
                  type="file"
                />
                <div class="small text-muted mt-2">
                  relevant file. Max file size 50 MB
                </div>
              </div>
            </div>

            <div class="row align-items-center py-1">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Input Documents</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input
                  class="form-control form-control-lg"
                  id="formFileLg"
                  type="file"
                />
                <div class="small text-muted mt-2">
                  relevant file. Max file size 50 MB
                </div>
              </div>
            </div>

            <div class="row align-items-center py-1">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0"></h6>
              </div>
              <div class="col-md-9 pe-5">
                <input
                  class="form-control form-control-lg"
                  id="formFileLg"
                  type="file"
                />
                <div class="small text-muted mt-2">
                  relevant file. Max file size 50 MB
                </div>
              </div>
            </div>

            <hr class="mx-n3" />

            <div class="row align-items-center pt-2 pb-1">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Reason</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Reason for Approval/Rejection"
                />
              </div>
            </div>
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Decision</h6>
              </div>
              <div class="col-md-9 pe-5">
                <select class="select">
                  <option value="1">Approve/Reject</option>
                  <option value="2">Approved</option>
                  <option value="3">Reject</option>
                </select>
              </div>
            </div>

            <hr class="mx-n3" />

            <div class="px-5 py-1">
              <button
                type="submit"
                class="btn btn-primary btn-lg"
                style="border-radius: 100px"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
